In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("men.csv")

In [3]:
df.head()

,Unnamed: 0,timestamp,item_id,position,click,propensity_score,user_feature_0,user_feature_1,user_feature_2,user_feature_3,...,user-item_affinity_24,user-item_affinity_25,user-item_affinity_26,user-item_affinity_27,user-item_affinity_28,user-item_affinity_29,user-item_affinity_30,user-item_affinity_31,user-item_affinity_32,user-item_affinity_33
0,0,2019-11-24 00:00:00.020518+00:00,10,1,0,0.019455,81ce123cbb5bd8ce818f60fb3586bba5,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-11-24 00:00:00.025815+00:00,13,2,0,0.329710,81ce123cbb5bd8ce818f60fb3586bba5,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2019-11-24 00:00:00.026514+00:00,0,3,0,0.044465,81ce123cbb5bd8ce818f60fb3586bba5,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2019-11-24 00:00:00.972404+00:00,13,2,0,0.329710,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2019-11-24 00:00:00.972817+00:00,6,3,0,0.051515,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(4077727, 44)

In [5]:
df.columns

Index(['Unnamed: 0', 'timestamp', 'item_id', 'position', 'click',
       'propensity_score', 'user_feature_0', 'user_feature_1',
       'user_feature_2', 'user_feature_3', 'user-item_affinity_0',
       'user-item_affinity_1', 'user-item_affinity_2', 'user-item_affinity_3',
       'user-item_affinity_4', 'user-item_affinity_5', 'user-item_affinity_6',
       'user-item_affinity_7', 'user-item_affinity_8', 'user-item_affinity_9',
       'user-item_affinity_10', 'user-item_affinity_11',
       'user-item_affinity_12', 'user-item_affinity_13',
       'user-item_affinity_14', 'user-item_affinity_15',
       'user-item_affinity_16', 'user-item_affinity_17',
       'user-item_affinity_18', 'user-item_affinity_19',
       'user-item_affinity_20', 'user-item_affinity_21',
       'user-item_affinity_22', 'user-item_affinity_23',
       'user-item_affinity_24', 'user-item_affinity_25',
       'user-item_affinity_26', 'user-item_affinity_27',
       'user-item_affinity_28', 'user-item_affinity_29',
       'user-item_affinity_30', 'user-item_affinity_31',
       'user-item_affinity_32', 'user-item_affinity_33'],
      dtype='object')

In [6]:
df = df.iloc[0: , 0:10]

In [7]:
df.columns

Index(['Unnamed: 0', 'timestamp', 'item_id', 'position', 'click',
       'propensity_score', 'user_feature_0', 'user_feature_1',
       'user_feature_2', 'user_feature_3'],
      dtype='object')

In [8]:
df = df.reindex(columns=['click', 'timestamp','Unnamed: 0', 'item_id', 'position', 
       'propensity_score', 'user_feature_0', 'user_feature_1',
       'user_feature_2', 'user_feature_3'])

In [9]:
df.head()

,click,timestamp,Unnamed: 0,item_id,position,propensity_score,user_feature_0,user_feature_1,user_feature_2,user_feature_3
0,0,2019-11-24 00:00:00.020518+00:00,0,10,1,0.019455,81ce123cbb5bd8ce818f60fb3586bba5,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17
1,0,2019-11-24 00:00:00.025815+00:00,1,13,2,0.329710,81ce123cbb5bd8ce818f60fb3586bba5,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17
2,0,2019-11-24 00:00:00.026514+00:00,2,0,3,0.044465,81ce123cbb5bd8ce818f60fb3586bba5,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17
3,0,2019-11-24 00:00:00.972404+00:00,3,13,2,0.329710,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17
4,0,2019-11-24 00:00:00.972817+00:00,4,6,3,0.051515,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,06128286bcc64b6a4b0fb7bc0328fe17

In [10]:
a=df[["user_feature_0"]].rename(columns={"user_feature_0":"user_id"})
b=df[["user_feature_1"]].rename(columns={"user_feature_1":"user_id"})
c=df[["user_feature_2"]].rename(columns={"user_feature_2":"user_id"})
d=df[["user_feature_3"]].rename(columns={"user_feature_3":"user_id"})
all_user = pd.concat([a,b,c,d] , axis=0)

In [11]:
len(all_user["user_id"].unique())

31

In [12]:
ALL_users = all_user["user_id"].unique().tolist()
user_ids = dict(list(enumerate(ALL_users)))
user_map = {u: uidx for uidx, u in user_ids.items()}
df['user_id_0'] = df['user_feature_0'].map(user_map)
df['user_id_1'] = df['user_feature_1'].map(user_map)
df['user_id_2'] = df['user_feature_2'].map(user_map)
df['user_id_3'] = df['user_feature_3'].map(user_map)

In [13]:
ALL_items = df["item_id"].unique().tolist()
item_ids = dict(list(enumerate(ALL_items)))
item_map = {u: uidx for uidx, u in item_ids.items()}

In [14]:
user_map

{'81ce123cbb5bd8ce818f60fb3586bba5': 0,
 'cef3390ed299c09874189c387777674a': 1,
 'a2887f22191b6331b6eb89d8e45d249b': 2,
 '4ae385d792f81dde128124a925a830de': 3,
 '03a5648a76832f83c859d46bc06cb64a': 4,
 'f1a1a2e75caaeacf89bfb997045d1923': 5,
 'f1c2d6a32ec39249160cf784b63f4c6f': 6,
 '2d03db5543b14483e52d761760686b64': 7,
 '6ff54aa8ff7a9dde75161c20a3ee4231': 8,
 '8b50621825ffd909dd8d8317d366271f': 9,
 '9b2d331c329ceb74d3dcfb48d8798c78': 10,
 '9f4e8271d3d3014af5f35124c2de5082': 11,
 'ed337edf23929cdd5248e21642f55664': 12,
 '7bc94a2da491829b777c49c4b5e480f2': 13,
 '719dab53a7560218a9d1f96b25d6fa32': 14,
 '2723d2eb8bba04e0362098011fa3997b': 15,
 'c2e4f76cdbabecd33b8c762aeef386b3': 16,
 '302deff13f835d731df1c842eed95971': 17,
 '7ae37150e596e6e8f19e27a06bd4d359': 18,
 'c7cce49040b6630e9b5484dfcc0e6cd1': 19,
 '77fecf8cfc9c3057ced84bd867c0800c': 20,
 '06128286bcc64b6a4b0fb7bc0328fe17': 21,
 '05b76f5e97e51128862059ac7df9e42a': 22,
 '28dec55877ab4de9f158fd95b8e9226b': 23,
 '9bde591ffaab8d54c457448e4dca6f53': 24,
 'c39b0c7dd5d4eb9a18e7db6ba2f258f8': 25,
 'f97571b9c14a786aab269f0b427d2a85': 26,
 '270b3e1c052b4f2e9c90bf0ebeb84f34': 27,
 '3aef83d337306549f1f8ca5a8b8ecff8': 28,
 '1f5491ca59138af653430c90c33319b5': 29,
 'c9dce82be9faf60d0b76e3e1eaaf835d': 30}

In [15]:
item_map

{10: 0,
 13: 1,
 0: 2,
 6: 3,
 3: 4,
 12: 5,
 26: 6,
 23: 7,
 17: 8,
 9: 9,
 14: 10,
 29: 11,
 2: 12,
 7: 13,
 15: 14,
 22: 15,
 27: 16,
 21: 17,
 33: 18,
 18: 19,
 32: 20,
 20: 21,
 8: 22,
 16: 23,
 25: 24,
 31: 25,
 19: 26,
 28: 27,
 5: 28,
 30: 29,
 24: 30,
 11: 31,
 1: 32,
 4: 33}

In [16]:
len(df["click"]==0)

4077727

In [17]:
len(df["click"]==1)

4077727

In [18]:
len(df.loc[df["click"]==0])

4050232

In [19]:
len(df.loc[df["click"]==1])

27495

In [20]:
df_tmp = df.loc[df["click"]==0]

In [21]:
df_tmp_2 = df.loc[df["click"]==1]

In [22]:
df_tmp = df_tmp[:30000]

In [23]:
df = pd.concat([df_tmp_2 , df_tmp])

df

,click,timestamp,Unnamed: 0,item_id,position,propensity_score,user_feature_0,user_feature_1,user_feature_2,user_feature_3,user_id_0,user_id_1,user_id_2,user_id_3
89,1,2019-11-24 00:00:13.432957+00:00,89,29,3,0.027695,a2887f22191b6331b6eb89d8e45d249b,f1a1a2e75caaeacf89bfb997045d1923,ed337edf23929cdd5248e21642f55664,28dec55877ab4de9f158fd95b8e9226b,2,5,12,23
201,1,2019-11-24 00:00:36.806587+00:00,201,13,2,0.329710,a2887f22191b6331b6eb89d8e45d249b,f1a1a2e75caaeacf89bfb997045d1923,ed337edf23929cdd5248e21642f55664,28dec55877ab4de9f158fd95b8e9226b,2,5,12,23
2187,1,2019-11-24 00:05:41.433635+00:00,2187,13,1,0.381840,a2887f22191b6331b6eb89d8e45d249b,f1a1a2e75caaeacf89bfb997045d1923,ed337edf23929cdd5248e21642f55664,28dec55877ab4de9f158fd95b8e9226b,2,5,12,23
2949,1,2019-11-24 00:07:46.306839+00:00,2949,13,2,0.322115,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,9b2d331c329ceb74d3dcfb48d8798c78,c39b0c7dd5d4eb9a18e7db6ba2f258f8,1,4,10,25
3272,1,2019-11-24 00:08:42.706969+00:00,3272,2,2,0.039440,81ce123cbb5bd8ce818f60fb3586bba5,2d03db5543b14483e52d761760686b64,c2e4f76cdbabecd33b8c762aeef386b3,9bde591ffaab8d54c457448e4dca6f53,0,7,16,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30153,0,2019-11-24 01:10:15.628577+00:00,30153,27,3,0.025010,a2887f22191b6331b6eb89d8e45d249b,f1a1a2e75caaeacf89bfb997045d1923,ed337edf23929cdd5248e21642f55664,28dec55877ab4de9f158fd95b8e9226b,2,5,12,23
30154,0,2019-11-24 01:10:15.701501+00:00,30154,23,1,0.104980,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,c2e4f76cdbabecd33b8c762aeef386b3,9bde591ffaab8d54c457448e4dca6f53,1,4,16,24
30155,0,2019-11-24 01:10:15.703030+00:00,30155,13,2,0.297165,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,c2e4f76cdbabecd33b8c762aeef386b3,9bde591ffaab8d54c457448e4dca6f53,1,4,16,24
30156,0,2019-11-24 01:10:15.703193+00:00,30156,27,3,0.025010,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,c2e4f76cdbabecd33b8c762aeef386b3,9bde591ffaab8d54c457448e4dca6f53,1,4,16,24
30157,0,2019-11-24 01:10:16.109700+00:00,30157,28,1,0.008085,cef3390ed299c09874189c387777674a,03a5648a76832f83c859d46bc06cb64a,719dab53a7560218a9d1f96b25d6fa32,9bde591ffaab8d54c457448e4dca6f53,1,4,14,24

In [24]:
len(df)

57495

In [25]:
ALL_users = all_user["user_id"].unique().tolist()
user_ids = dict(list(enumerate(ALL_users)))
user_map = {u: uidx for uidx, u in user_ids.items()}
df['user_id_0'] = df['user_feature_0'].map(user_map)
df['user_id_1'] = df['user_feature_1'].map(user_map)
df['user_id_2'] = df['user_feature_2'].map(user_map)
df['user_id_3'] = df['user_feature_3'].map(user_map)

In [26]:
X_0=df["user_id_0"]
X_1=df["user_id_1"]
X_2=df["user_id_2"]
X_3=df["user_id_3"]
Y=df["item_id"]
Z=df["click"]

In [28]:
import matplotlib.pyplot as plt

In [29]:
# グラフの枠を作成
fig = plt.figure()
ax = Axes3D(fig)

ax.set_xlabel("X")
ax.set_ylabel("Y")
ax.set_zlabel("Z")

ax.plot(X_0,Y,Z,marker=".",linestyle='None')

plt.show()

# 3のユーザーのみ、ほかのユーザーがすべてにクリックしていることに対し、あるものに対してクリックをしていない。
#つまり、その特定のアイテムについて、レコメンドをしない方が良い？？

NameError: name 'Axes3D' is not defined

In [ ]:
# グラフの枠を作成
fig = plt.figure()
ax = Axes3D(fig)

# X,Y,Z軸にラベルを設定
ax.set_xlabel("X")
ax.set_ylabel("Y")
ax.set_zlabel("Z")

# .plotで描画
ax.plot(X_1,Y,Z,marker=".",linestyle='None')

# 最後に.show()を書いてグラフ表示
plt.show()

In [ ]:
# グラフの枠を作成
fig = plt.figure()
ax = Axes3D(fig)

# X,Y,Z軸にラベルを設定
ax.set_xlabel("X")
ax.set_ylabel("Y")
ax.set_zlabel("Z")

# .plotで描画
ax.plot(X_2,Y,Z,marker=".",linestyle='None')

# 最後に.show()を書いてグラフ表示
plt.show()

In [ ]:
# グラフの枠を作成
fig = plt.figure()
ax = Axes3D(fig)

# X,Y,Z軸にラベルを設定
ax.set_xlabel("X")
ax.set_ylabel("Y")
ax.set_zlabel("Z")

# .plotで描画
ax.plot(X_3,Y,Z,marker=".",linestyle='None')

# 最後に.show()を書いてグラフ表示
plt.show()

In [30]:
X_0=df["user_id_0"]
X_1=df["user_id_1"]
X_2=df["user_id_2"]
X_3=df["user_id_3"]
Y=df["item_id"]
Z=df["click"]

In [31]:
Z

89       1
201      1
2187     1
2949     1
3272     1
        ..
30153    0
30154    0
30155    0
30156    0
30157    0
Name: click, Length: 57495, dtype: int64

In [32]:
a=pd.DataFrame({"item_id":Y , "user_id":X_0 , "click":Z})
b=pd.DataFrame({"item_id":Y , "user_id":X_1 , "click":Z})
c=pd.DataFrame({"item_id":Y , "user_id":X_2 , "click":Z})
d=pd.DataFrame({"item_id":Y , "user_id":X_3 , "click":Z})

In [33]:
a_b=pd.concat([a,b],axis=0)
c_d=pd.concat([c,d],axis=0)

click_user = pd.concat([a_b , c_d] , axis=0 )

In [34]:
click_user

       item_id  user_id  click
89          29        2      1
201         13        2      1
2187        13        2      1
2949        13        1      1
3272         2        0      1
...        ...      ...    ...
30153       27       23      0
30154       23       24      0
30155       13       24      0
30156       27       24      0
30157       28       24      0

[229980 rows x 3 columns]

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
click_user = click_user.sample(frac=1).reset_index(drop=True)

y = click_user["click"]
X = click_user[["user_id","item_id"]]

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=42)

# train_data = pd.DataFrame({"item_id" : train_X , "user_id":train_y})
# test_data  = pd.DataFrame({"item_id" : test_X , "user_id":test_y})

# train_data = click_user["click"]
# test_data  = click_user["click"]

In [37]:
train_X["user_id"]

82705     12
140865     2
92870      4
207597     7
169925     5
          ..
119879    15
103694    22
131932     2
146867     1
121958     2
Name: user_id, Length: 160986, dtype: int64

In [38]:
print(train_X.shape)
print(train_y.shape)

print("=========")
print(test_X.shape)
print(test_y.shape)

(160986, 2)
(160986,)
=========
(68994, 2)
(68994,)

In [39]:
from scipy.sparse import coo_matrix

In [40]:
coo_train = coo_matrix((train_y, (train_X["user_id"], train_X["item_id"])), shape=(len(click_user), len(click_user)))
coo_val   = coo_matrix((test_y, (test_X["user_id"], test_X["item_id"])), shape=(len(click_user), len(click_user)))

In [41]:
# coo_train = coo_matrix((train_y, (train_X["user_id"], train_X["item_id"])))
# coo_val   = coo_matrix((test_y, (test_X["user_id"], test_X["item_id"])))

In [42]:
len(click_user)

229980

In [43]:
csr_train = coo_train.tocsr()
csr_val = coo_val.tocsr()

In [44]:
matrices = {'coo_train': coo_train,'csr_train': csr_train,'csr_val': csr_val}
matrices

{'coo_train': <229980x229980 sparse matrix of type '<class 'numpy.int64'>'
 	with 160986 stored elements in COOrdinate format>,
 'csr_train': <229980x229980 sparse matrix of type '<class 'numpy.int64'>'
 	with 834 stored elements in Compressed Sparse Row format>,
 'csr_val': <229980x229980 sparse matrix of type '<class 'numpy.int64'>'
 	with 791 stored elements in Compressed Sparse Row format>}

In [45]:
!pip install --upgrade implicit 
from implicit.evaluation import mean_average_precision_at_k
import implicit

Requirement already satisfied: implicit in c:\users\uchii\anaconda3\lib\site-packages (0.5.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\uchii\anaconda3\lib\site-packages (from implicit) (4.59.0)
Requirement already satisfied: scipy>=0.16 in c:\users\uchii\anaconda3\lib\site-packages (from implicit) (1.6.2)
Requirement already satisfied: numpy in c:\users\uchii\anaconda3\lib\site-packages (from implicit) (1.20.1)

In [46]:
def validate(matrices, factors=200, iterations=20, regularization=0.01, 
show_progress=True):
    
    model = implicit.als.AlternatingLeastSquares(factors=factors, 
                                                 iterations=iterations, 
                                                regularization=regularization, 
                                                 random_state=42)
    # factors:    計算する潜在的な要因の数
    # iterations: データをフィットする際に使用する ALS の反復回数
    # regularization: 使用する正則化係数(L1正則化)
    
    model.fit(coo_train, show_progress=show_progress)
    #show_progress 学習の進捗を確認
    
    # The MAPK by implicit doesn't allow to calculate allowing repeated items, which is the case.
    # TODO: change MAP@12 to a library that allows repeated items in prediction
    map2 = mean_average_precision_at_k(model, csr_train, csr_val, K=2, show_progress=show_progress, num_threads=4)
    print(f"Factors: {factors:>3} - Iterations: {iterations:>2} - Regularization: {regularization:4.3f} ==> MAP@2: {map2:6.5f}")
    return map2

In [ ]:
%%time
best_map2 = 0
for factors in [10, 25 ,50 ,75,100,200,1000]:
    for iterations in [3, 12,20,50]:
        for regularization in [0.01]:
            map2 = validate(matrices, factors, iterations, regularization, show_progress=False)
            if map2 > best_map2: 
                best_map2 = map2
                best_params = {'factors': factors, 'iterations': iterations, 'regularization': regularization}
                print(f"Best MAP@2 found. Updating: {best_params}")

C:\Users\uchii\anaconda3\lib\site-packages\implicit\utils.py:31: UserWarning: Intel MKL BLAS detected. Its highly recommend to set the environment variable 'export MKL_NUM_THREADS=1' to disable its internal multithreading
  warnings.warn(

Factors:  10 - Iterations:  3 - Regularization: 0.010 ==> MAP@2: 0.05556
Best MAP@2 found. Updating: {'factors': 10, 'iterations': 3, 'regularization': 0.01}
Factors:  10 - Iterations: 12 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors:  10 - Iterations: 20 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors:  10 - Iterations: 50 - Regularization: 0.010 ==> MAP@2: 0.07407
Best MAP@2 found. Updating: {'factors': 10, 'iterations': 50, 'regularization': 0.01}
Factors:  25 - Iterations:  3 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors:  25 - Iterations: 12 - Regularization: 0.010 ==> MAP@2: 0.06481
Factors:  25 - Iterations: 20 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors:  25 - Iterations: 50 - Regularization: 0.010 ==> MAP@2: 0.09259
Best MAP@2 found. Updating: {'factors': 25, 'iterations': 50, 'regularization': 0.01}
Factors:  50 - Iterations:  3 - Regularization: 0.010 ==> MAP@2: 0.03704
Factors:  50 - Iterations: 12 - Regularization: 0.010 ==> MAP@2: 0.03704
Factors:  50 - Iterations: 20 - Regularization: 0.010 ==> MAP@2: 0.03704
Factors:  50 - Iterations: 50 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors:  75 - Iterations:  3 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors:  75 - Iterations: 12 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors:  75 - Iterations: 20 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors:  75 - Iterations: 50 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors: 100 - Iterations:  3 - Regularization: 0.010 ==> MAP@2: 0.03704
Factors: 100 - Iterations: 12 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors: 100 - Iterations: 20 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors: 100 - Iterations: 50 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors: 200 - Iterations:  3 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors: 200 - Iterations: 12 - Regularization: 0.010 ==> MAP@2: 0.05556
Factors: 200 - Iterations: 20 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors: 200 - Iterations: 50 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors: 1000 - Iterations:  3 - Regularization: 0.010 ==> MAP@2: 0.04630
Factors: 1000 - Iterations: 12 - Regularization: 0.010 ==> MAP@2: 0.06481
Factors: 1000 - Iterations: 20 - Regularization: 0.010 ==> MAP@2: 0.06481

In [84]:
def train(coo_train, factors=200, iterations=15, regularization=0.01, show_progress=True):
    model = implicit.als.AlternatingLeastSquares(factors=factors, 
                                                 iterations=iterations, 
                                                 regularization=regularization, 
                                                 random_state=42)
    model.fit(coo_train, show_progress=show_progress)

    return model

In [85]:
model = train(coo_train, **best_params)

  0%|          | 0/12 [00:00<?, ?it/s]

In [91]:
item_ids = df["item_id"]
user_ids =

In [136]:
def submit(model, csr_train, submission_name="submissions.csv"):
    preds = []
    batch_size = 3 
    to_generate = np.arange(len(user_ids))
    for startidx in range(0, len(to_generate), batch_size):
        batch = to_generate[startidx : startidx + batch_size]
        ids, scores = model.recommend(batch, csr_train[batch], N=2, filter_already_liked_items=False)
        for i, userid in enumerate(batch):
            user_id = user_ids[userid]
            item_items = ids[i]
            item_id = [item_ids[item_id] for item_id in item_items]
            preds.append((user_id, ' '.join(str(item_id))))

    df_preds = pd.DataFrame(preds, columns=['customer_id', 'prediction'])
    df_preds.to_csv(submission_name, index=False)
    
    display(df_preds.head())
    print(df_preds.shape)
    
    return df_preds

In [137]:
import numpy as np

In [138]:
%%time
df_preds = submit(model, csr_train);

                        customer_id       prediction
0  81ce123cbb5bd8ce818f60fb3586bba5    [ 3 0 ,   9 ]
1  cef3390ed299c09874189c387777674a    [ 1 1 ,   1 ]
2  a2887f22191b6331b6eb89d8e45d249b    [ 1 1 ,   4 ]
3  4ae385d792f81dde128124a925a830de  [ 3 1 ,   1 6 ]
4  03a5648a76832f83c859d46bc06cb64a    [ 6 ,   2 4 ]

(31, 2)
Wall time: 112 ms

In [134]:
len(click_user["user_id"].unique())

28

In [88]:
# ALL_USERS_0 = df['user_feature_0'].unique().tolist()
# ALL_USERS_1 = df['user_feature_1'].unique().tolist()
# ALL_USERS_2 = df['user_feature_2'].unique().tolist()
# ALL_USERS_3 = df['user_feature_3'].unique().tolist()

# print(len(ALL_USERS_0))
# print(len(ALL_USERS_1))
# print(len(ALL_USERS_2))
# print(len(ALL_USERS_3))

# user_ids_0 = dict(list(enumerate(ALL_USERS_0)))
# user_ids_1 = dict(list(enumerate(ALL_USERS_1)))
# user_ids_2 = dict(list(enumerate(ALL_USERS_2)))
# user_ids_3 = dict(list(enumerate(ALL_USERS_3)))

# user_map_0 = {u: uidx for uidx, u in user_ids_0.items()}
# user_map_1 = {u: uidx for uidx, u in user_ids_1.items()}
# user_map_2 = {u: uidx for uidx, u in user_ids_2.items()}
# user_map_3 = {u: uidx for uidx, u in user_ids_3.items()}

# df['user_id_0'] = df['user_feature_0'].map(user_map_0)
# df['user_id_1'] = df['user_feature_1'].map(user_map_1)
# df['user_id_2'] = df['user_feature_2'].map(user_map_2)
# df['user_id_3'] = df['user_feature_3'].map(user_map_3)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
X = df.iloc[: , 3:6].values

In [14]:
y =df.iloc[: , 0].values

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [17]:
model = LogisticRegression()

In [18]:
model.fit(train_X , train_y)

LogisticRegression()

In [19]:
model.predict(test_X)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [20]:
model.score(test_X , test_y)

0.993292836946046

In [21]:
import collections

In [22]:
click_count = collections.Counter(df["click"])
item_id_count = collections.Counter(df["item_id"])

In [23]:
print(click_count)
print(item_id_count)

Counter({0: 4050232, 1: 27495})
Counter({13: 845146, 23: 595039, 0: 535098, 27: 409827, 6: 244175, 17: 201723, 31: 184107, 10: 161555, 9: 119698, 3: 80206, 14: 62153, 26: 48569, 1: 47066, 21: 46729, 29: 43358, 19: 39030, 12: 37758, 11: 37485, 7: 35873, 30: 30926, 2: 30418, 24: 24598, 4: 22795, 22: 22107, 8: 21566, 25: 21565, 18: 20029, 33: 19553, 28: 17073, 16: 16998, 20: 15151, 32: 14481, 15: 14020, 5: 11852})

In [24]:
df["item_id"].unique()
##３４個のアイテムidに対してのデータだということが分かった。

array([10, 13,  0,  6,  3, 12, 26, 23, 17,  9, 14, 29,  2,  7, 15, 22, 27,
       21, 33, 18, 32, 20,  8, 16, 25, 31, 19, 28,  5, 30, 24, 11,  1,  4],
      dtype=int64)

In [25]:
##　ほとんどが０なので、そのまま予測してもあまり意味がない。予測でほぼ０となるから

In [26]:
## クリックされた時（Clickが１）のデータに共通しているものはなにか？

In [27]:
df[df["click"]==1]["item_id"].unique()
##すべてのアイテムがクリックされていることがわかる。

array([29, 13,  2, 26,  3, 23, 31, 27, 33, 22,  9, 19,  6,  7, 21, 17, 15,
        0, 24, 32,  1, 10,  5, 16, 11, 18, 25, 14,  8, 12, 30, 28, 20,  4],
      dtype=int64)

In [29]:
len(df["click"]==1)

4077727

In [30]:
len(df["click"]==0)

4077727

In [31]:
df["click"].unique()

array([0, 1], dtype=int64)

In [32]:
len(df["click"])

4077727

In [161]:
l = [[0, 10, 20],[30, 0, 40],[0, 0, 50]]

coo = coo_matrix(l ,shape=(len(l) ,len(l)))
                 
print(coo)
#   (0, 1)  10
#   (0, 2)  20
#   (1, 0)  30
#   (1, 2)  40
#   (2, 2)  50

  (0, 1)	10
  (0, 2)	20
  (1, 0)	30
  (1, 2)	40
  (2, 2)	50